@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.dfont');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UniversLTStd-Light';
  src: url('../fonts/UniversLTStd-Light.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hurme_geometric_sans_3regular';
  src: url('../fonts/hurmegeometricsansregular.woff2') format('woff2'),
    url('../fonts/hurmegeometricsansregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
